# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/loan/Debug
/loan/loan/.vs/loan/v15
/loan/loan/Debug
/loan/loan/Release
/loan/loan/x64
/loan/loan/融券
/loan/loan/loan.vcxproj.user
/loan/loan/loan.vcxproj.filters
/loan/loan/loan.vcxproj
/loan/loan/loan.sln
/loan/loan/股價.zip
